# Object files
*.o
*.ko
*.obj
*.elf
*.d 

# Libraries
*.lib
*.a

# Executables
*.out
*.app
*.i*86
*.x86_64

# Atmel CMake build folder
#Release/*
#Debug/*

# Atmel temp files
#*.d
#*.atsuo
#*.srec
#*.map
#*.lss
#*.eep
